/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body with deep gradient */
body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;

  background: radial-gradient(circle at 20% 20%, #1a1a2e, #0f3460, #000);
  color: white;
}

/* Floating particles */
body::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(white 1px, transparent 1px);
  background-size: 50px 50px;

  animation: moveParticles 20s linear infinite;
  opacity: 0.2;
}

/* Animation */
@keyframes moveParticles {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-200px, -200px);
  }
}

/* Center container */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Glass Card */
.card {
  width: 350px;
  padding: 30px;
  border-radius: 20px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);

  box-shadow: 0 8px 40px rgba(0,0,0,0.5);
  text-align: center;
}

/* Title */
h1 {
  margin-bottom: 20px;
}

/* Inputs */
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;

  border: none;
  border-radius: 10px;
  outline: none;
}

/* Button */
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;

  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
}